* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navigation section */

a {
  color: black;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 15vh;
  list-style-type: none;
}

/* hero section */

.hero {
  min-height: 85vh;
  background-image: url(/flourish-collective-sample-site/img/pexels-godisable-jacob-871495.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  text-align: center;
  margin: 2rem;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

.hero button {
  padding: 1rem 2rem;
  border: none;
  background: #ad8c68;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
}

/* Services section */

.services {
  margin: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-heading {
  text-align: center;
  width: 100%;
}

.services-build,
.services-launch,
.services-grow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 1rem;
  width: 33%;
}

.services-build img,
.services-launch img,
.services-grow img {
  width: 50%;
}

.services h2 {
  font-size: 40px;
  text-align: center;
}

.services p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
}

.services button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  background: #97a5aa;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

/* intro section */

.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro img {
  width: 100%;
  align-content: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.intro-image {
  flex: 1 1 30rem;
}

.intro-text {
  display: flex;
  flex: 1 1 30rem;
  flex-direction: column;
  background-color: #f6f5f1;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.intro-text h2 {
  padding: 1.5rem;
  text-align: left;
}

.intro-text p {
  padding: 1rem;
  text-align: left;
  line-height: 1.7em;
  font-size: 20px;
}

.intro-text button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  background: #ad8c68;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
}
